h1{
  text-align: center;
}

.controls{
  margin:50px;
}

.container{
  
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex:1;
  align-items: flex-start;
  border: 8px solid rgba(233, 191, 5, 0.726);
  width:500px;
  height: 500px;
  margin:auto;

}